<div class="card">
    <div class="card-header">
        <h2>Product form</h2>
    </div>
    <div class="card-body">
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
            <div class="mb-3">
                <label for="">Product Name</label>
                <input type="text" name="name" class="form-control" placeholder="add a name" #name="ngModel" [(ngModel)]="productService.selectedProduct.name">
            </div>
            <div class="mb-3">
                <label for="">Product Category</label>
                <input type="text" name="category" class="form-control" placeholder="add a category" #category="ngModel" [(ngModel)]="productService.selectedProduct.category">
            </div>
            <div class="mb-3">
                <label for="">Product Location</label>
                <input type="text" name="location" class="form-control" placeholder="add a location" #location="ngModel" [(ngModel)]="productService.selectedProduct.location">
            </div>
            <div class="mb-3">
                <label for="">Product Price</label>
                <input type="text" name="price" class="form-control" placeholder="add a price" #price="ngModel" [(ngModel)]="productService.selectedProduct.price">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary btn-lg" type="submit">save <i class="fa fa-plus-circle"></i> </button>
            </div>
            <div class="mb-3">
                <button class="btn btn-secondary btn-lg" (click)="resetForm(productForm)" type="reset">reset <i class="fa fa-refresh"></i> </button>
            </div>
        </form>
    </div>
</div>